<div class="content">
  <div class="dane">
    <form>
      <div class="form-row">


        <div class="form-group">
          <input type="date" name="bday" max="2099-12-31" min="1900-01-01" class="form-control" />
        </div>


        <input type="text" class="form-control" placeholder="Company" name="firma" />

      </div>
    </form>
  </div>



  <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Invoice number</th>
        <th scope="col">Contractor</th>
        <th scope="col">Unit</th>
        <th scope="col">Netto</th>
        <th scope="col">Tax</th>
        <th colspan="2" scope="col">Brutto</th>
      </tr>
    </thead>
    <tbody>
      <app-single-position *ngFor="let position of positions; let index = index"
        (positionChanged)=handlePositionChanged($event) (itemRemoved)=removePosition($event) [position]=position
        [lp]=index+1>
      </app-single-position>
    </tbody>
  </table>
  <div class="invoice-positions__actions">
    <button (click)="addPosition()" type="button" class="btn btn-dark invoice-positions__action"><i
        class="fa fa-plus"></i> Add position</button>

  </div>
  <div class="invoice-positions__actions2">
    <button (click)="itemsRemoved()" type="button" class="btn btn-success invoice-positions__action"><i
        class="fa fa-minus"></i> Remove All</button>
  </div>
</div>